html {
  width: 100%;
  height: 100%;
}

body {
  /* margin: 0 20px; */
  background-color: #f3eee8;
  color: #53504d;
  font: 14px/22px Arial, sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-dat-gui-demo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.react-dat-gui-relative-position {
  position: absolute;
  margin-top: 5em;
  width: 300px;
  min-width: 300px;
  right: 0;
}

@media (max-width: 700px) {
  .react-dat-gui-demo {
    flex-direction: column !important;
  }
}
